@import 'common.scss';

:host {
  display: flex;
  button {
    border-color: $colorUi3;
    flex: 0 0 0%;
    margin: 0;
    background-position: center;
    background-repeat: no-repeat;
    &.disable {
      pointer-events: none;
    }
    &.back {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      background-image: url('data:image/svg+xml;utf8,%3Csvg%20width%3D%2212px%22%20height%3D%2212px%22%20viewBox%3D%220%200%2012%2012%22%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%3E%0A%20%20%20%20%3Cg%20stroke%3D%22none%22%20stroke-width%3D%221%22%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%3E%0A%20%20%20%20%20%20%20%20%3Cpolyline%20id%3D%22Path-4%22%20stroke%3D%22%231785FB%22%20transform%3D%22translate(6.000000%2C%206.000000)%20scale(1%2C%20-1)%20rotate(-270.000000)%20translate(-6.000000%2C%20-6.000000)%20%22%20points%3D%221%204%206%208%2011%204%22%3E%3C%2Fpolyline%3E%0A%20%20%20%20%3C%2Fg%3E%0A%3C%2Fsvg%3E');
      &.disable {
        background-image: url('data:image/svg+xml;utf8,%0A%3Csvg%20width%3D%2212px%22%20height%3D%2212px%22%20viewBox%3D%220%200%2012%2012%22%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%3E%0A%20%20%20%20%3Cg%20stroke%3D%22none%22%20stroke-width%3D%221%22%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%3E%0A%20%20%20%20%20%20%20%20%3Cpolyline%20id%3D%22Path-4%22%20stroke%3D%22%23D1D5D7%22%20transform%3D%22translate(6.000000%2C%206.000000)%20scale(1%2C%20-1)%20rotate(-270.000000)%20translate(-6.000000%2C%20-6.000000)%20%22%20points%3D%221%204%206%208%2011%204%22%3E%3C%2Fpolyline%3E%0A%20%20%20%20%3C%2Fg%3E%0A%3C%2Fsvg%3E');
      }
    }
    &.next {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      background-image: url('data:image/svg+xml;utf8,%3Csvg%20width%3D%2212px%22%20height%3D%2212px%22%20viewBox%3D%220%200%2012%2012%22%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%3E%0A%20%20%20%20%3Cg%20stroke%3D%22none%22%20stroke-width%3D%221%22%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%3E%0A%20%20%20%20%20%20%20%20%3Cpolyline%20id%3D%22Path-4%22%20stroke%3D%22%231785FB%22%20transform%3D%22translate(6.000000%2C%206.000000)%20scale(1%2C%20-1)%20rotate(-90.000000)%20translate(-6.000000%2C%20-6.000000)%20%22%20points%3D%221%204%206%208%2011%204%22%3E%3C%2Fpolyline%3E%0A%20%20%20%20%3C%2Fg%3E%0A%3C%2Fsvg%3E');
      &.disable {
        background-image: url('data:image/svg+xml;utf8,%0A%3Csvg%20width%3D%2212px%22%20height%3D%2212px%22%20viewBox%3D%220%200%2012%2012%22%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%3E%0A%20%20%20%20%3Cg%20id%3D%22icons%2F12%2Fui04%2Fchevron-right%22%20stroke%3D%22none%22%20stroke-width%3D%221%22%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%3E%0A%20%20%20%20%20%20%20%20%3Cpolyline%20id%3D%22Path-4%22%20stroke%3D%22%23D1D5D7%22%20transform%3D%22translate(6.000000%2C%206.000000)%20scale(1%2C%20-1)%20rotate(-90.000000)%20translate(-6.000000%2C%20-6.000000)%20%22%20points%3D%221%204%206%208%2011%204%22%3E%3C%2Fpolyline%3E%0A%20%20%20%20%3C%2Fg%3E%0A%3C%2Fsvg%3E');
      }
    }
  }
  .content {
    flex: 1 1 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid $colorUi3;
    border-left: none;
    border-right: none;
    cursor: pointer;
    span, input[type=number] {
      width: 0;
      // flex: 0 0 50%;
      flex: 0 0 100%;
      text-align: center;
      font-size: 12px;
      @include font('medium');
      color: $colorType1;
    }
    input[type=number]{
      display: none;
      width: 0;
      max-width: 100%;
      padding: 0;
      border: none;
      text-align: center;
      -moz-appearance:textfield;
      &::-webkit-inner-spin-button, ::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
    }
  }
  &.editMode {
    .content {
      input[type=number]{
        display: block;
      }
      span {
        display: none;
      }
    }
  }
}
