<section>
  <button class="primary">Primary</button>
  <button class="secondary">Secondary</button>
  <button>Base</button>

  <button class="primary disabled">Primary</button>
  <button class="secondary disabled">Secondary</button>
  <button class="disabled">Base</button>

  <button class="primary large">Primary</button>
  <button class="primary small">Primary</button>
</section>

<section>
  <ash-button class="primary">Componente botón</ash-button>
  <ash-button class="primary loading">Componente botón</ash-button>
  <ash-button class="primary" icon="/assets/plus.svg">Con icono</ash-button>
  <ash-button icon="/assets/plus_blue.svg">Con icono sin fondo</ash-button>
  <ash-button class="primary large"><img src="/assets/plus.svg"></ash-button>
  <ash-button class="primary"><img src="/assets/plus.svg"></ash-button>
  <ash-button class="primary small"><img src="/assets/plus.svg"></ash-button>
</section>

<section>
  <input type="text" placeholder="E.g. Placeholder text">
  <input type="text" value="Text entered">
  <div>
    <input class="error" type="text" value="Text entered">
    <label class="error">This field is required</label>
  </div>
  <input readonly type="text" value="Text entered">
  <input class="search" type="text" placeholder="Search...">
</section>

<section>
  <ash-checkbox [(checked)]="checkedValue" (valueChange)="valueChange($event)"></ash-checkbox>
  <ash-checkbox [checked]="true" class="error`"></ash-checkbox>
  <ash-checkbox [checked]="true" class="disabled"></ash-checkbox>
  <ash-checkbox></ash-checkbox>
  <ash-checkbox class="error"></ash-checkbox>
  <ash-checkbox [checked]="true">checbox con texto</ash-checkbox>
  <ash-checkbox [checked]="true" color="#7F3C8D">checbox con texto y color</ash-checkbox>
</section>

<section>
  <ash-switch></ash-switch>
  <ash-switch [(checked)]="switchValue" (valueChange)="valueChange($event)"></ash-switch>
  <ash-switch [checked]="true" class="disabled"></ash-switch>
  <ash-switch [checked]="true">switch con texto</ash-switch>
  <div style="width: 100px;">
    <ash-switch [checked]="true">switch con texto</ash-switch>
  </div>
</section>

<section>
    <div style="flex: 0 0 200px"><ash-range></ash-range></div>
     <div style="flex: 0 0 200px">
      <ash-range
        [min]="100"
        [max]="500"
        [(values)]="rageValues"
        (valueChange)="valueChange($event)"
        [labelFunction]="rageParseFunction"
      ></ash-range>
    </div>
  <div style="flex: 0 0 200px;">
      <ash-range
        [min]="100"
        [max]="500"
        [values]="rageValue"
      ></ash-range>
    </div>
    <div style="flex: 0 0 200px;">
      <ash-range class="disabled"></ash-range>
    </div>
</section>

<section>
  <div style="flex: 0 0 200px;">
    <ash-pager
      [value]="2"
      pageNumber="4"
      (valueChange)="valueRangeChange($event)"
    ></ash-pager>
  </div>
</section>


<section>
  <ash-date-picker
  [(value)]="datePickerValue"
  (valueChange)="valueChange($event)"
  ></ash-date-picker>

  <ash-date-picker style="width: 200px"
  mode="range"
  [(value)]="dateRangeValue"
  (valueChange)="valueChange($event)"
  >
  </ash-date-picker>
</section>

<section>
  <ash-select
    [values]="selectValues"
    (valueChange)="valueChange($event)"
  ></ash-select>
  <ash-select
    [value]="selectValues[1]"
    [values]="selectValues"
    (valueChange)="valueChange($event)"
  ></ash-select>
</section>

<section>
  <ash-loading size="25"></ash-loading>
  <ash-loading></ash-loading>
  <ash-loading size="100"></ash-loading>
</section>
