<button class="primary">Primary</button>
<button class="secondary">Secondary</button>
<button>Base</button>

<button class="primary disabled">Primary</button>
<button class="secondary disabled">Secondary</button>
<button class="disabled">Base</button>

<button class="primary large">Primary</button>
<button class="primary small">Primary</button>

<input type="text" placeholder="E.g. Placeholder text">
<input type="text" value="Text entered">
<input class="error" type="text" value="Text entered">
<input readonly type="text" value="Text entered">
<input class="search" type="text" placeholder="Search...">


<!-- <ash-button classes="primary large"></ash-button> -->
