<button class="primary">Primary</button>
<button class="secondary">Secondary</button>
<button>Base</button>

<button class="primary disabled">Primary</button>
<button class="secondary disabled">Secondary</button>
<button class="disabled">Base</button>

<button class="primary large">Primary</button>
<button class="primary small">Primary</button>

<input type="text" placeholder="E.g. Placeholder text">
<input type="text" value="Text entered">
<input class="error" type="text" value="Text entered">
<input readonly type="text" value="Text entered">
<input class="search" type="text" placeholder="Search...">


<ash-button class="primary">Componente botón</ash-button>
<ash-button class="primary loading">Componente botón</ash-button>
<ash-button class="primary" icon="/assets/plus.svg">Con icono</ash-button>
<ash-button class="primary"><img src="/assets/plus.svg"></ash-button>
<ash-button class="primary small"><img src="/assets/plus.svg"></ash-button>

<ash-checkbox checked></ash-checkbox>
<ash-checkbox checked class="error"></ash-checkbox>
<ash-checkbox checked class="disabled"></ash-checkbox>
<ash-checkbox></ash-checkbox>
<ash-checkbox class="error"></ash-checkbox>
<ash-checkbox checked>checbox con texto</ash-checkbox>
