$fontFamily: 'Roboto', sans-serif;

$colorWhite: #FFFFFF;

$colorBrand1: var(--brand1, #1785FB);
$colorBrand2: var(--brand2, #0F2D53);
$colorBrand3:  var(--brand3, #47DB99);

$colorType1:  var(--type1, #2C2C2C);
$colorType2:  var(--type2, #747474);
$colorType3:  var(--type3, #BABABA);
$colorType4:  var(--type4, $colorWhite);

$colorUi1:  var(--ui1, $colorWhite);
$colorUi2:  var(--ui2, #F5F5F5);
$colorUi3:  var(--ui3, #E2E6E3);
$colorUi4:  var(--ui4, #D1D5D7);

$colorSupport1:  var(--support1, #F3522B);
$colorSupport2:  var(--support2, #FDB32B);
$colorSupport3:  var(--support3, #80B622);

$animationFuncDefault: ease;
$animationFuncAlt: linear;
$animationTimeDefault: .5s;
$animationTimeFast: .25s;
$animationTimeBlink: .125s;
