<input readonly #datepicker *ngIf="mode === 'classic'" type="text" class="date notDisabled" value="{{formatDate(value)}}">

<div class="rangeContainer" *ngIf="mode === 'range'" #rangeContainer
  (focusout)="this.hideRangeDataPicker()"
  (mouseenter)="preventHideRangeDataPicker=true"
  (mouseleave)="preventHideRangeDataPicker=false"
  >
  <input readonly type="text" class="date notDisabled" (focus)="openRangeDataPicker()"  value="{{formatRange()}}">
  <div #datepicker [class.showRange]="showDataRangePicker"></div>
</div>
